# Dependencies
node_modules/
package-lock.json

# Expo
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Debugging
*.log
.vscode/
.idea/

# Testing
coverage/
*.test.log

# macOS
.DS_Store

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local
